body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 190px; 
  height: 100vh;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  font-size: 13px;
  font-weight: 600;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidebar .nav-link {
  padding: 0.75rem 1rem;
  border-radius: 0;
  margin-bottom: 0;
}

.sidebar .nav-link:not(.active):hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 98, 227, 0.15);
  transition: all 0.3s ease;
}

.content {
  margin-left: 190px;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
}

#simulator-container {
  width: 95%;
  height: 80vh;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-top: 10px;
}

