@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
  --bg-color: linear-gradient(180deg,#32314A 0%,black 110%);
  --primary-color: #292934;
  --primary-color-dark: #1c1c25;
  --secondary-color: #32314A;
  --accent: #8682B4;
  --accent-gradient: linear-gradient(180deg, #6964a0ce 0%, #00000055 110%);
  --accent-secondary: #C2BFCF;
  --accent-secondary-hover: #E2E6EA;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background-color: var(--primary-color);
  color: #f1f1f1;
  font-family: "Helvetica", "Arial", sans-serif;
}

.controls {
  font-size: 12px;
}

.config-tab {
  max-width: 80%;
  padding: 2%;
}

.replays-tab{
  max-width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  height: 90%;
  padding-bottom: 1rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  background: var(--bg-color);
  border-bottom: 2px solid #212529;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  z-index: 1000;
}

.sidebar .nav-link {
  text-align: center;
  display: inline-block;
  width: 160px;
  border-radius: 0;
  margin-bottom: 0;
  background: var(--bg-color);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.sidebar .nav-link::before,
.sidebar .nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--accent);
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.sidebar .nav-link::before {
  top: 0;
}

.sidebar .nav-link::after {
  bottom: 0;
}

.sidebar .nav-link:hover::before,
.sidebar .nav-link:hover::after,
.sidebar .nav-link.active::before,
.sidebar .nav-link.active::after {
  width: 100%;
}

.sidebar .nav-link:not(.active):not(:hover) {
  color: var(--accent);
}

.sidebar .nav-link:not(.active):hover {
  color: var(--accent-secondary);
  box-shadow: 0 -5px 3px rgb(73, 73, 73);
  background-color: rgba(0, 0, 0, 0.149);
}

.nav-pills .nav-link.active{
  background: var(--accent-gradient);
  color: white;
}

.content {
  margin-top: 4vh;
  height: 100vh;
  overflow-y: auto;
  background: var(--bg-color);
  color: #f1f1f1;
}

#simulator-container {
  width: 95%;
  height: 90vh;
  background: var(--bg-color);
  border: 1px solid #212529;
  margin-top: 0px;
  margin-right: 1vh;
  flex-grow: 1;
}

.dronecount-input {
    width: 70px;
    padding: 0 4px;
    font-size: 12px;
    border-radius: 0px;
}
.dronecount-input::placeholder {
    font-size: 10px;
    color: #C2BFCF;
}

.btn-small {
  width: 70px !important;
}

.btn.btn-recording i {
  animation: blink-red 1s infinite;
}

@keyframes blink-red {
  0% {color: inherit;}
  50% {color: #e51f33;}
  100% {color: inherit;}
}

.btn-group .btn,
.btn-group-vertical .btn {
  padding: 0px;
  width: 140px;
  height: 36px;
  border-radius: 0;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group .btn:hover,
.btn-group-vertical .btn:hover {
  background-color: var(--accent);
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.btn-group .btn:active,
.btn-group-vertical .btn:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.btn-simulate-hover-active
{
  background-color: var(--accent) !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1) !important;
}

.btn-group-vertical .btn-label {
  width: 140px;
  height: 25px;
  font-size: 12px;
  padding: 0 0.5rem;
  border-radius: 0;
  background-color: var(--primary-color-dark);
  color: #ecf0f1;
  font-weight: 700;
  box-shadow: none;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group-vertical .btn-label:disabled {
  opacity: 1;
}

.btn-group-vertical .btn + .btn-label {
  margin-top: 10px;
}

.btn-wrapper {
  position: relative;
  display: inline-block;
}

.hover-panel {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 500px;
  height: 300px;
  background: var(--bg-color);
  border: 1px solid #000;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  display: none;
  z-index: 1000;
  padding: 1rem;
  opacity: 0;
}

.btn-wrapper:hover .hover-panel {
  display: block;
  opacity: 1;
}

canvas{
  background-color: white;
}

#replayList {
    overflow-y: auto;
    padding: 30px;
}

#replayList .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    height: 80px;
    margin-bottom: 0.3rem;
    padding: 0.6rem 1rem;
    transition: background 0.2s, transform 0.1s;
    background-color: var(--accent-secondary);
}

#replayList .list-group-item:hover {
    background-color: var(--accent-secondary-hover);
    transform: scale(1.02);
}

#replayList .list-group-item.active {
    background-color: var(--accent);
    color: white;
    font-weight: 500;
}
